<IfModule mod_expires.c>

# Enable Expirations
ExpiresActive On

# Default Expiration Time
ExpiresDefault "access plus 1 month"

# Expiration for Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"

# Expiration for CSS
ExpiresByType text/css "access plus 1 month”

# Expiration for JavaScript
ExpiresByType application/javascript "access plus 1 month"

</IfModule>

# Redirects for old posts.
Redirect 301 /post/97585161632/announcing-the-koji-labs-code-blog /blog/announcing-the-koji-labs-code-blog/
Redirect 301 /post/97292456127/reflections-on-building-kojitsu /blog/reflections-on-building-kojitsu/
Redirect 301 /post/90543010567/kojitsu-is-shutting-down /blog/kojitsu-is-shutting-down/
Redirect 301 /post/87009815222/save-your-kojitsu-links-to-pocket-and-instapaper /blog/save-your-kojitsu-links-to-pocket-and-instapaper/
Redirect 301 /post/78465785139/announcing-daily-summary-emails-for-kojitsu /blog/announcing-daily-summary-emails-for-kojitsu/
Redirect 301 /post/76433776551/call-for-beta-testers /blog/call-for-beta-testers/

RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]

ErrorDocument 404 /404.html
