<div id="sidebar" class="clearfix">
  <header>
    <div class="logo">
      <a href="/" title="Koji Labs" class="clearfix"><img src="{% asset_path kojilabs-logo.png %}" alt="Koji Labs"></a>
    </div>
    <div class="nav-toggle"><a href="#">Menu</a></div>
    <nav class="site-nav">
      <ul>
        <li>
          <a href="/web-design/">Website Design</a>
          <ul class="sub-nav">
            <li><a href="/web-design/">Overview</a></li>
            <li><a href="/web-design/process/">Our Process</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
          </ul>
        </li>
        <li>
        	<a href="/products/">Products</a>
        	<ul class="sub-nav">
            <li><a href="/products/">Overview</a></li>
            <li><a href="/products/html5-foundations/">HTML5 Foundations</a></li>
            <li><a href="/products/kojitsu">Kojitsu</a></li>
        	</ul>
        </li>
        <li>
          <a href="/portfolio/">Portfolio</a>
        </li>
        <li>
            <a href="/about/">About</a>
            <ul class="sub-nav">
              <li><a href="/about/">About Koji Labs</a></li>
              <li><a href="/about/testimonials/">Client Testimonials</a></li>
              <li><a href="/about/manifesto/">Manifesto <span class="plus">+</span> Values</a></li>
            </ul>
        </li>
        <li>
          <a href="/blog/">Blog</a>
          <ul class="sub-nav">
            <a href="/blog/">Company Blog</a>
            <li><a href="http://code.kojilabs.com" target="_blank">Developer Blog</a></li>
          </ul>
        </li>
        <li>
            <a href="/contact/">Contact</a>
            <ul class="sub-nav">
              <li><a href="/contact/">Contact info</a></li>
              <li><a href="/contact/enquiries/">Hire us</a></li>
            </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>
