.error-page
  max-width: 800px
  margin: 3em auto
  background: #FFF
  outline: 1px solid $border-color
  border-top: 4px solid $purple
  padding: $gd-padding*1.5 $gd-padding*2 $gd-padding
  // text-align: center

  h1
    font-size: 3em
    margin-bottom: 0
    // text-align: center
